/* ----------------- General config -------------------------------- */
/* Debugging */
#define DEBUG_BUTTONS                 true

/* Serial */
#define SERIAL_BAUD_RATE              115200

/* Ethernet */
#define ENABLE_DHCP                   true
#define ENABLE_MAC_ADDRESS_ROM        true
#define MAC_I2C_ADDRESS               0x50                  // Microchip 24AA125E48 I2C ROM address

const byte    static_mac[]          = { 0xDE, 0xAD, 0xBE, 0xEF, 0xFE, 0xED }; // Use if no MAC ROM
const byte    static_ip[]           = { 192, 168, 1, 35 };                    // Use if DHCP disabled
const byte    static_dns[]          = { 192, 168, 1, 1 };                     // Use if DHCP disabled

/* MQTT */
const char *  mqtt_broker           = "192.168.1.185";      // IP address or host name of your MQTT broker
const int     mqtt_port             = 1883;
const char *  mqtt_client_id        = "";                   // Max 15 chars, optional
const char *  mqtt_username         = "YOUR USERNAME";
const char *  mqtt_password         = "YOUR PASSWORD";
const char *  mqtt_base_topic       = "lights";             // Max 10 chars with NO trailing '/', optional

#define       ENABLE_MQTT_LWT         false
const char *  mqtt_lwt_base_topic   = "clients";            // Max 15 chars with NO trailing '/'
const uint8_t mqtt_lwt_qos          = 0;
const uint8_t mqtt_lwt_retain       = 1;

#define       ENABLE_MQTT_EVENTS      true
const char *  mqtt_events_topic     = "events";

/* Watchdog */
#define       ENABLE_WATCHDOG         false
#define       WATCHDOG_PIN            3                     // Output to pat the watchdog
#define       WATCHDOG_PULSE_MS       50
#define       WATCHDOG_RESET_MS       30000
