#ifndef CONFIG_H
#define CONFIG_H

/* ----------------- General config -------------------------------- */
/* Debugging */
#define ENABLE_DEBUG                  true

/* Serial */
#define SERIAL_BAUD_RATE              115200

/* Ethernet */
#define ENABLE_DHCP                   true
#define ENABLE_MAC_ADDRESS_ROM        true
#define MAC_I2C_ADDRESS               0x50                  // Microchip 24AA125E48 I2C ROM address

const byte    static_mac[]          = { 0xDE, 0xAD, 0xBE, 0xEF, 0xFE, 0xED }; // Use if no MAC ROM
const byte    static_ip[]           = { 192, 168, 1, 35 };                    // Use if DHCP disabled
const byte    static_dns[]          = { 192, 168, 1, 1 };                     // Use if DHCP disabled

/* MQTT */
const char *  mqtt_broker           = "192.168.1.185";      // IP address or host name of your MQTT broker
const int     mqtt_port             = 1883;
const char *  mqtt_client_id        = "";                   // Max 15 chars, optional
const char *  mqtt_username         = "YOUR USERNAME";
const char *  mqtt_password         = "YOUR PASSWORD";
const char *  mqtt_base_topic       = "usm";                // Max 15 chars with NO trailing '/', optional

#define       ENABLE_MQTT_LWT         false
const char *  mqtt_lwt_base_topic   = "clients";            // Max 15 chars with NO trailing '/'
const uint8_t mqtt_lwt_qos          = 0;
const uint8_t mqtt_lwt_retain       = 1;

/* ----------------- Hardware-specific config ---------------------- */
/* MCP23017 */
#define       MCP_MAX_COUNT           8                     // Max number of supported MCP23017 chips 

/* Watchdog */
#define       ENABLE_WATCHDOG         false
#define       WATCHDOG_PIN            3                     // Output to pat the watchdog
#define       WATCHDOG_PULSE_MS       50
#define       WATCHDOG_RESET_MS       30000

/* OLED - ONE and ONLY ONE OLED_TYPE should be defined (comment out an others) */
#define       ENABLE_OLED           true
//#define       OLED_TYPE_SSD1306                           // mostly the .96"
#define       OLED_TYPE_SH1106                              // mostly the 1.3"
#define       OLED_I2C_ADDRESS      0x3c                    // I2c address of OLED used
#define       OLED_RESET            -1                      // Reset pin (or -1 if sharing Arduino reset pin)
#define       OLED_CONTRAST_DIM     5                       // OLED contrast when dimmed (0 == OFF)
#define       OLED_CONTRAST_ON      128                     // OLED contrast when normal (on)
#define       OLED_TIME_ON          10000                   // OLED time in msec with brightness ON after trigger
#define       OLED_SHOW_EVENT_TIME  3000                    // the time in ms the event line is shown if no new event occured



#endif